@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
ul > li {
  list-style: none;
}
.text-decoration {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.content-container {
  width: 1028px;
  margin: 0 auto;
  padding: 51px 0 15px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  position: relative;
}
.header-logo p:first-of-type {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  position: absolute;
  bottom: 19px;
  left: 61px;
}
.header-logo p:last-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  bottom: -2.5px;
  left: 61px;
}
.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.main-container {
  margin: 22px 0 90px 0;
  display: grid;
  grid-template-rows: repeat(2, 220px);
  grid-template-columns: repeat(3, 300px);
  row-gap: 78px;
  column-gap: 62px;
}
.main-shopping {
  background: url(../img/image_shopping.jpg) no-repeat;
}
.main-sightseeing {
  background: url(../img/image_Sightseeing.jpg) no-repeat;
}
.main-food {
  background: url(../img/image_Food.jpg) no-repeat;
}
.main-bars {
  background: url(../img/image_Bars.jpg) no-repeat;
}
.main-art {
  background: url(../img/image_Art.png) no-repeat;
}
.main-walking {
  background: url(../img/image_Walking.png) no-repeat;
}
.footer {
  text-align: center;
}
.main {
  background-size: cover;
  width: 300px;
  height: 220px;
  border: 5px solid transparent;
  border-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.main > p {
  position: absolute;
  bottom: -38px;
}
.header-logo:hover {
  filter: brightness(0) saturate(100%) invert(42%) sepia(100%) saturate(1663%)
    hue-rotate(350deg) brightness(100%) contrast(91%);
}
.header-contacts > a:hover {
  color: #f26522;
}

.main:hover > .text-decoration {
  color: #f26522;
}

@keyframes ani {
  0% {
    height: 0px;
  }
  100% {
    height: 55px;
  }
}
.hover {
  overflow: hidden;
  display: none;
  animation: ani 0.5s linear forwards;
  background-color: #f26522;
  position: absolute;
  width: 100%;
  bottom: -1px;
}
.hover-from {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  margin: 7px 0 8px 16px;
}
.hover-price {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 0 12px 16px;
}
.hover-details {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-left: 128px;
}
.hover-details::after {
  content: "❯";
  margin-left: 16px;
}
.main:hover > .hover {
  display: block;
}