@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap");
.background {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 1s;
}
.header:hover {
  background: #000000;
mix-blend-mode: normal;
opacity: 0.41;
}
.main {
  min-height: calc(100vh - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.title a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  padding: 18px 79px;
}
.icons {
  display: flex;
}
svg {
  margin: 17px 12.5px;
}
.welcome::before{
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
opacity: 0.5;
content: '';
margin-right: 27px;
}
.welcome {
  margin: 22px 79px 22px 27px;
}
.welcome,
.welcome > a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.sign-up {
  width: 444px;
  padding: 31px 60px 38px 60px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
  margin:  54px auto;
}
.sign-up::before {
  background-color: #3cb878;
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;
}
.form-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-head p:first-child {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #434343;
}
.hover a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  position: relative;
  /* overflow: hidden; */
}
.sign-up_social {
  display: flex;
  justify-content: space-between;
}
.facebook,
.google {
  width: 49%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.facebook p,
.google p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.facebook {
  background-color: #305db8;
}
.facebook img {
  padding: 12px 17px;
}
.facebook p {
  padding-right: 22px;
}
.facebook p::before {
  content: "";
  border-left: 1px solid transparent;
  border-color: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  margin-right: 18px;
}
.google {
  background-color: #df4a32;
}
.google img {
  padding: 15px 12px 14px 12px;
}
.google p {
  padding-right: 27px;
}
.google p::before {
  content: "";
  border-left: 1px solid transparent;
  border-color: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
  margin-right: 30px;
}
.or {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  text-align: center;
  margin-top: 31px;
  margin-bottom: 12px;
  position: relative;
}
.or::before,
.or::after {
  display: block;
  content: "";
  border-bottom: 1px solid #f2f2f2;
  position: absolute;
  width: 46%;
}
.or::before {
  top: 7px;
}
.or::after {
  top: 7px;
  right: 0;
}
.sign-up_form input:not([type="checkbox"]):not([type="submit"]) {
  margin-bottom: 15px;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #434343;
}
.sign-up_form input::placeholder {
color: #BEBEBE;
}

.terms {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.terms a {
  color: rgba(60, 184, 120, 0.8);
}
.sign-up_form input[type="submit"] {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  width: 100%;
  padding: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.sign-up_form input:not([type="checkbox"]):not([type="submit"]):focus {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  outline: none;
}
.title a,
.welcome a,
svg path,
.form-head p:last-child,
.facebook,
.google,
.terms a,
.sign-up_form input {
  transition: 1s;
}
.title:hover a,
.welcome a:hover {
  color: #01813f;
}
svg:hover path {
  fill: rgb(1, 129, 63);
}
.hover:hover a {
  color: #01813f;
}
.hover:hover a::after,
.hover:hover a::before {
  border-color: rgba(1, 129, 63, 1);
}
.hover a::after {
  transition: 1s;
  content: "";
  border-bottom: 1px solid #01813f;
  border-color: rgba(1, 129, 63, 0);
  position: absolute;
  top: 14px;
  left: 23px;
  width: 15px;
}
.hover a::before {
  transition: 1s;
  content: "";
  border-bottom: 1px solid #01813f;
  border-color: rgba(1, 129, 63, 0);
  position: absolute;
  top: 14px;
  left: 0;
  width: 15px;
}
.facebook:hover {
  background-color: #022263;
}
.google:hover {
  background-color: #ab1f09;
}
.terms:hover a {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}
.sign-up_form input[type="submit"]:hover {
  background-color: #01813f;
}
.sign-up_form input[type="checkbox"]:checked,
.sign-up_form input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.sign-up_form input[type="checkbox"]:checked + label,
.sign-up_form input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
.sign-up_form input[type="checkbox"]:checked + label::before,
.sign-up_form input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  background-image: url(../img/checkbox_empty.png);
  background-repeat: no-repeat;
}
.sign-up_form input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url(../img/true.png);
  background-repeat: no-repeat;
}
