@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
body {
  font-family: "Montserrat";
  font-style: normal;
}

/* header */

.header_section-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(../img/Sections_background/section-1\(header\).jpg) no-repeat fixed;
  background-size: cover;
}
.header_bg {
  background: rgba(94, 93, 88, 0.6);
}
.header-container {
  margin: 0 auto;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_title {
  position: relative;
}
.header_title span:first-child {
  margin-right: 6px;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  padding: 9px 13px;
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%);
  background-color: #18cfab;
}
.header_title a {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #fff;
}
.header_title span:last-child {
  font-weight: 900;
  color: #18cfab;
}
.header_nav-menu {
  padding: 49px 0 49px 0;
  display: flex;
}
.header_nav-menu a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 21px;
  position: relative;
}
#search-icon-hover {
  position: absolute;
  right: 9999px;
}

/* header hover */

.header_nav-menu li a:hover:not(.header_nav-menu li:last-child a) {
  color: #18cfab;
  border-bottom: 1px solid #18cfab;
  padding-bottom: 53px;
}
.header_nav-menu li:last-child a:hover {
  border-bottom: 1px solid #18cfab;
  padding-bottom: 50px;
}

.header_nav-menu li:last-child a:hover #search-icon-hover {
  left: 0;
}

/* header section */

.header_section-title {
  margin-top: 264px;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.header_section-title span {
  color: #18cfab;
}
.header_section-slogan {
  margin: 22px 0;
  text-align: center;
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
}
.header_section-text {
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
}
.header_section-buttons {
  margin-top: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 241px;
}
.header_section-btn {
  position: relative;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  background-color: #18cfab;
  color: #fff;
  box-shadow: 0 -5px 0 0 #fff;
}
#purchase-btn {
  background-color: #00cbf6;
}
.header_section-buttons a:first-child {
  padding: 16px 18px;
}
.header_section-buttons a:last-child {
  margin-left: 26px;
  padding: 16px 11px;
}
.section-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 374px;
  overflow: hidden; */
}
.section-blocks li {
  border-top: 10px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  text-align: center;
}
.section-blocks li:nth-child(even) {
  background-color: #18cfab;
  padding: 95px 0 110px 0;
}
.section-blocks li:nth-child(odd) {
  background-color: #1c2a33;
  padding: 85px 0 110px 0;
}
.section-blocks li:nth-child(2) {
  padding: 96px 0 110px 0;
}
/* .section-blocks li:nth-child(1) {
  padding: 85px 103px 110px 103px;
}
.section-blocks li:nth-child(2) {
  padding: 96px 127px 110px 127px;
}
.section-blocks li:nth-child(3) {
  padding: 85px 133px 110px 133px;
}
.section-blocks li:nth-child(4) {
  padding: 95px 113px 110px 113px;
} */
.section-blocks li p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #18cfab;
}
.section-blocks li:nth-child(even) p {
  margin-top: 58px;
  color: #ffffff;
}
.section-blocks li:nth-child(1) p {
  margin-top: 47px;
}
.section-blocks li:nth-child(3) p {
  margin-top: 48px;
}

/* our services section */
.our-services-container {
  margin: 0 auto;
  max-width: 1160px;
}
.our-services_title {
  margin-top: 83px;
  margin-bottom: 101px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
}
.our-services_tabs-container {
  display: flex;
}

.our-services_img {
  width: 192px;
  height: 139px;
}
.our-services_tabs {
  display: flex;
}
.our-services_tabs li {
  padding: 16px 38px;
  /* padding-top: 16px;
  padding-bottom: 16px;
  width: 192px; */
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  text-align: center;
  color: #717171;
  background: #f8fcfe;
  border: 1px solid #edefef;
  margin-bottom: 23px;
}
.our-services_tabs .our-services_tab-active {
  border: 1px solid #18cfab;
  background-color: #18cfab;
  color: #ffffff;
  position: relative;
}
.our-services_tab-active::after {
  position: absolute;
  left: 82px;
  bottom: -15px;
  content: "";
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 15px solid #18cfab;
}
.our-services_tabs-container {
  display: flex;
  margin-bottom: 91px;
}
.our-services_tabs-container p {
  margin-left: 15px;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}
.our-services_tabs-container
  .our-services_tab-content.our-services_tab-content-active {
  display: flex;
}
.our-services_tabs-container .our-services_tab-content {
  display: none;
}

/* our-services hover */

.our-services_tabs li:hover {
  cursor: pointer;
  border: 1px solid #18cfab;
}

/* purchase-now section */

.purchase-now-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/Sections_background/section-2.jpg) no-repeat fixed;
  background-size: cover;
}
.purchase-now-container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 127px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.purchase-now_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
  text-align: center;
  margin-bottom: 12px;
}
.purchase-now_text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  margin-bottom: 67px;
}
.purchase-now_btn {
  text-align: center;
  padding: 16px 11px;
  border-radius: 5px;
  background-color: #18cfab;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  box-shadow: 0 -5px 0 0 #fff;
}

/* purchase-now hover */

.purchase-now_btn:hover {
  background-color: #00cbf6;
}

/* our-work section */

.our-work-bg {
  background-color: #e9edef;
}
.our-work-container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 98px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-work_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 97px;
}
.our-work_tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.our-work_tabs li:first-child {
  padding: 14px 28px;
}
.our-work_tabs li {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
  padding: 14px 15px;
  align-items: center;
  color: #717171;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
}
.our-work_tabs .our-work_tab-active {
  border: 5px solid #18cfab;
  color: #18cfab;
}
#our-work_load-btn,
.gallery_load-btn {
  margin-top: 70px;
}
#our-work_load-btn,
.gallery_load-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18cfab;
  padding: 13px 23px;
  border-radius: 5px;
  margin-top: 52px;
}
#our-work_load-btn p,
.gallery_load-btn p {
  margin-left: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
}

/* our-work images */

.our-work_img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.our-work_design-hover {
  text-align: center;
  width: 284px;
  padding-top: 41.5px;
  border-top: #18cfab;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 6px solid #18cfab;
}
.our-work_design-hover p:nth-child(2) {
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 24px;
  text-align: center;
}
.our-work_design-hover p:nth-child(3) {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
  text-align: center;
}
.hide {
  display: none;
}

/* loader */

.loader {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: none;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

/* our-work hover */

.our-work_tabs li:hover {
  cursor: pointer;
  border-color: #18cfab;
  color: #18cfab;
}
#our-work_load-btn:hover,
.gallery_load-btn:hover {
  background-color: #00cbf6;
  cursor: pointer;
}
.test:hover img {
  display: none;
}
.test:hover .our-work_design-hover {
  display: flex;
}

/* breaking-news section */

.breaking-news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 82px 0 128px 0;
  max-width: 1160px;
  margin: 0 auto;
}
.breaking-news_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  margin-bottom: 101px;
}
.breaking-news_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.breaking-news_content li:not(.breaking-news_content li:nth-child(4n)) {
  margin-right: 35px;
}
.breaking-news_content li {
  margin-bottom: 44px;
  position: relative;
}
.breaking-news_content li p:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #203e38;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 19px;
}
.breaking-news_content li p:nth-child(3) {
  color: #717171;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  text-align: center;
  margin-right: 52px;
}
.breaking-news_content li p:nth-child(4) {
  color: #777777;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  text-align: center;
  margin-right: 49px;
}
.breaking-news_content li p:nth-child(4) span {
  margin: 0 10px;
}

/* breaking news hover */

.breaking-news_content li:hover p:first-child {
  background-color: #18cfab;
}
.breaking-news_content li:hover p:nth-child(3) {
  color: #18cfab;
}

/* about-us section */

.about-us-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/Sections_background/section-3.jpg) no-repeat fixed;
  background-size: cover;
}
.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 98px 0 104px 0;
  max-width: 1160px;
  margin: 0 auto;
}
.about-us_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 99px;
}
.about-us-container svg {
  margin-bottom: 36px;
}
.about-us_comment {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us_comment-text,
.about-us_comment-profession {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
}
.about-us_comment-name {
  margin-top: 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  text-transform: uppercase;
}
.about-us_comment-photo {
  margin-top: 89.5px;
  margin-bottom: 108.5px;
  border: 3.5px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  scale: 2.45;
}
.about-us_comment-active {
  display: flex;
}

/* about-us tabs */

.about-us_tabs-container {
  display: flex;
  align-items: center;
}
.about-us_tabs-container button {
  text-align: center;
  appearance: none;
  padding: 5px 10.5px;
  color: #bbbbbb;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
}
.about-us_tabs-container button:first-child {
  margin-right: 35px;
}
.about-us_tabs-container button:last-child {
  margin-left: 35px;
}
.about-us_tab:not(.about-us_tab:nth-child(2)) {
  margin-left: 38px;
}
.about-us_tab {
  position: relative;
  border: 6px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}
.about-us_tab-active {
  position: relative;
  top: -13px;
}

/* animation */

.about-us_tab {
  animation-duration: 0.5s;
  animation-name: tabDown;
}
@keyframes tabDown {
  from {
    top: -13px;
  }
  to {
    top: 0;
  }
}
.about-us_tab-active,
.about-us_tabs-container img:hover {
  animation-duration: 0.5s;
  animation-name: tabUp;
}
@keyframes tabUp {
  from {
    top: 0;
  }
  to {
    top: -13px;
  }
}

/* about-us hover */

.about-us_tabs-container button:hover {
  background: #18cfab;
  color: #fff;
  border-color: #18cfab;
}
.about-us_tabs-container img:hover {
  top: -13px;
}

/* gallery section */

.gallery {
  padding: 95px 0 67px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}
.gallery-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 115px;
}
.gallery_load-btn {
  margin-top: 52px;
}
.gallery_img-hover {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* top:45%;
  left: 40%; */
}
.gallery_img-hover div:first-child {
  background-color: #14b9d5;
  padding: 4px 9px;
  margin-right: 20px;
}
.gallery_img-hover div:last-child {
  background-color: #14b9d5;
  padding: 4px 8px;
}
.gallery_img img {
  height: inherit;
  width: inherit;
}
.gallery_img {
  position: relative;
  overflow: hidden;
  display: flex;
}

.gallery_img img.gallery_img-full-screen {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;
  /* padding: 10em 30em; */
  z-index: 998;
}
.darkering {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 997;
}
.close-img {
  cursor: pointer;
  display: none;
  color: #14b9d5;
  font-size: 50px;
  position: fixed;
  left: 80%;
  top: 5%;
  transform: translate(-80%, -50%);
  /* padding: 3em 8em; */
  z-index: 999;
}
.gallery_grid-container .hide {
  display: none;
}

/* gallery hover */

.gallery_img:hover .gallery_img-hover {
  display: flex;
}

/* gallery grid */

.gallery_grid-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 263px 97px 53px 73px 80px 190px 45px;
  gap: 20px;
  /* grid-template-rows: repeat(7, 1fr); */
  grid-template-areas:
    "img1 img2 img3"
    "img4 img2 img3"
    "img4 img5 img3"
    "img4 img5 img6"
    "img7 img5 img6"
    "img7 img8 img6"
    ". img8 .";
}
.gallery_img1 {
  grid-area: img1;
}
.gallery_img2 {
  grid-area: img2;
}
.gallery_img3 {
  grid-area: img3;
}
.gallery_img4 {
  grid-area: img4;
}
.gallery_img5 {
  grid-area: img5;
}
.gallery_img6 {
  grid-area: img6;
}
.gallery_img7 {
  grid-area: img7;
}
.gallery_img8 {
  grid-area: img8;
}

/* gallery sub-grid */

.gallery_img3 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: 168px repeat(3, 92px);
  gap: 3px;
  grid-template-areas:
    "img3_1 img3_1 img3_2 img3_2"
    "img3_3 img3_4 img3_4  img3_5"
    "img3_6 img3_7 img3_7 img3_8"
    "img3_9 img3_10 img3_10 img3_11";
}
.gallery_img3_1 {
  grid-area: img3_1;
}
.gallery_img3_2 {
  grid-area: img3_2;
}
.gallery_img3_3 {
  grid-area: img3_3;
}
.gallery_img3_4 {
  grid-area: img3_4;
}
.gallery_img3_5 {
  grid-area: img3_5;
}
.gallery_img3_6 {
  grid-area: img3_6;
}
.gallery_img3_7 {
  grid-area: img3_7;
}
.gallery_img3_8 {
  grid-area: img3_8;
}
.gallery_img3_9 {
  grid-area: img3_9;
}
.gallery_img3_10 {
  grid-area: img3_10;
}
.gallery_img3_11 {
  grid-area: img3_11;
}

/* gallery hiden img grid */

/* overflow: hidden;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 198px 235px 8px 263px 80px;
grid-template-areas: 
    "img1-hide . img4-hide"
    "img1-hide img3-hide img4-hide"
    "img5-hide img3-hide img8-hide"
    "img5-hide img3-hide img8-hide"
    "img2-hide img7-hide img6-hide"
    "img2-hide . img6-hide"; */

/* .gallery_img3-hide {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: 168px repeat(3, 92px);
  gap: 3px;
  grid-template-areas:
    "img3_1-hide img3_1-hide img3_2-hide img3_2-hide"
    "img3_3-hide img3_4-hide img3_4-hide  img3_5-hide"
    "img3_6-hide img3_7-hide img3_7-hide img3_8-hide"
    "img3_9-hide img3_10-hide img3_10-hide img3_11-hide";

}

.gallery_img1-hide {
  grid-area: img1-hide;
}
.gallery_img2-hide {
  grid-area: img2-hide;
}
.gallery_img3-hide {
  grid-area: img3-hide;
}
.gallery_img4-hide {
  grid-area: img4-hide;
}
.gallery_img5-hide {
  grid-area: img5-hide;
}

.gallery_img6-hide {
  grid-area: img6-hide;
}

.gallery_img7-hide {
  grid-area: img7-hide;
}

.gallery_img8-hide {
  grid-area: img8-hide;
}

.gallery_img3_1-hide {
  grid-area: img3_1-hide;
}
.gallery_img3_2-hide {
  grid-area: img3_2-hide;
}
.gallery_img3_3-hide {
  grid-area: img3_3-hide;
}
.gallery_img3_4-hide {
  grid-area: img3_4-hide;
}
.gallery_img3_5-hide {
  grid-area: img3_5-hide;
}
.gallery_img3_6-hide {
  grid-area: img3_6-hide;
}
.gallery_img3_7-hide {
  grid-area: img3_7-hide;
}
.gallery_img3_8-hide {
  grid-area: img3_8-hide;
}
.gallery_img3_9-hide {
  grid-area: img3_9-hide;
}
.gallery_img3_10-hide {
  grid-area: img3_10-hide;
}
.gallery_img3_11-hide {
  grid-area: img3_11-hide;
} */

/* footer */

footer {
  background-color: #22353f;
  padding: 48px 0;
  display: flex;
  justify-content: center;
}
footer p {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
footer p a {
  color: #18cfab;
}

/* pseudo */
.our-services_title,
.our-work_title,
.breaking-news_title,
.about-us_title,
.gallery-title {
  position: relative;
  display: flex;
  justify-content: center;
}

.our-services_title::before,
.our-work_title::before,
.breaking-news_title::before,
.about-us_title::before,
.gallery-title::before {
  content: "";
  height: 1px;
  width: 80px;
  position: absolute;
  border-top: 1px solid #18cfab;
  bottom: -24px;
}
.our-services_title::after,
.our-work_title::after,
.breaking-news_title::after,
.about-us_title::after,
.gallery-title::after {
  content: "";
  height: 1px;
  width: 80px;
  position: absolute;
  border-top: 1px solid #18cfab;
  bottom: -28px;
  margin-left: 13px;
}

.gallery-title:hover ~ body {
  cursor: pointer;
  background: red;
}


/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'); */
@media (max-width: 900px) {
  .header_nav-menu.active {
    display:flex;
  }
  .header_nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #18cfab;
    top: 50px;
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}
