@font-face {
  font-family: Circe;
  src: url(../fonts/CRC55.otf);
}
@font-face {
  font-family: Gilam;
  src: url(../fonts/GilamDemo-Black.otf);
}
.wrapper {
  width: 100%;
  margin: auto;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  padding: 80px 0;
}
.parallax-header {
  background: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
}
.parallax-section1 {
  background: url(../img/header-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
}
.parallax-section2 {
  background: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
}
.parallax-footer {
  background: url(../img/header-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
}
.header {
  width: 1460px;
  margin: auto;
  padding: 37px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: flex-end;
}
.header-logo-text {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}
.head-contact {
  display: flex;
  justify-content: flex-end;
}
.header-number {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #d6af76;
  padding: 0 39px;
}
.header-number > span {
  color: #ffffff;
}

.button {
  border: 1px solid #e4b564;
  margin-left: 1em;
}

a {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
}
.section1 {
  width: 1460px;
  margin: auto;
}
.title {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin: 50px 0;
  line-height: 1;
}
.section1 > p {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding: 41px 0 41px 0;
}
.section1-container {
  display: grid;
  grid-template-columns: 467px 233.5px 233.5px 467px;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  grid-template-areas:
    "background1 background2 background2 background3"
    "background4 background4 background5 background5 ";
  justify-content: center;
  align-content: center;
}
.background1 {
  padding: 45% 0;
  grid-area: background1;
  background: #634f2c;
}
.background2 {
  grid-area: background2;
  background: #b4a385;
}
.background3 {
  grid-area: background3;
  background: #e4b564;
}
.background4 {
  grid-area: background4;
  background: #635a4a;
}
.background5 {
  grid-area: background5;
  background: #b08c4d;
}
.section1-container > li {
  list-style: none;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.section2 {
  width: 1460px;
  margin: auto;
}
.section2-container {
  display: grid;
  grid-template-columns: repeat(3, 467px);
  grid-template-rows: 255px 28px 96px 128px 244px 0px;
  gap: 30px;
  grid-template-areas:
    "background6 background7 background8"
    "background6 background7 background9"
    "background10 background7 background9"
    "background10 background11 background9"
    "background10 background11 background12"
    "background10 . background12";
  justify-content: center;
  align-content: center;
}
.start-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.start-flex {
  padding: 44px 52px;
}
.background6 {
  grid-area: background6;
  background: #0e0e0e;
}
.background7 {
  grid-area: background7;
  background: #242424;
}
.background8 {
  grid-area: background8;
  background: #1f1f1f;
}
.background9 {
  grid-area: background9;
  background: #0e0e0e;
}
.background10 {
  grid-area: background10;
  background: #1f1f1f;
}
.background11 {
  padding-bottom: 50%;
  grid-area: background11;
  background: #e4b564;
}
.background12 {
  grid-area: background12;
  background: #0a0909;
}
.section2-container > li {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.bold {
  font-weight: 900;
}
.our-projects {
  width: 1460px;
  margin: auto;
  padding-bottom: 100px;
}
.footer-title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content_container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 391px);
  grid-template-areas:
    "background13 background14 background15"
    "background16 background17 background18";
}
.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column-flex > p {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding: 0 80px 0 80px;
  display: none;
  margin-top: 16px;
}
.minbold {
  font-weight: 100;
}
.column-flex:hover p {
  display: block;
}
.background13:hover {
  background: rgba(99, 79, 44, 0.76);
}
.background14:hover {
  background: rgba(232, 210, 171, 0.76);
}
.background15:hover {
  background: rgba(228, 181, 100, 0.76);
}
.background16:hover {
  background: rgba(99, 90, 74, 0.76);
}
.background17:hover {
  background: rgba(176, 140, 77, 0.76);
}
.background18:hover {
  background: rgba(99, 79, 44, 0.76);
}
.background13 {
  padding: 25% 0;
  grid-area: background13;
  background: #634f2c;
}
.background14 {
  grid-area: background14;
  background: rgba(232, 210, 171, 1);
}
.background15 {
  grid-area: background15;
  background: #e4b564;
}
.background16 {
  grid-area: background16;
  background: #635a4a;
}
.background17 {
  grid-area: background17;
  background: #b08c4d;
}
.background18 {
  grid-area: background18;
  background: #634f2c;
}
