.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 42rem;
    position: relative;
}

.btn-delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: aqua;
    padding: 0.5rem 1rem;
    font-weight: bolder;
}

.btn-delete:hover {
    cursor: pointer;
}

h2 {
    margin-top: 1rem;
}

.text-dark {
    font-weight: bolder;
}

.text-muted {
    font-size: .875em;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.add-card {
    padding: 5px;
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 10px;
}

.form__add-card {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
}

.form__add-card input,
.form__add-card textarea {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #000;
}

.form__add-card textarea {
    height: 100px;
    width: 200%;
}
.add-card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-card {
    width: 40px;
    height: 40px;
}
.edit-card:hover {
    cursor: pointer;
}
#edit-card {
    display: none;
}