@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}
.burger {
  display: none;
  font-size: 80px;
  cursor: pointer;
  /* align-items: center;
  align-content: center; */

}
.header-container a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  color: #000000;
}
.header {
  color: aqua;
}
.header-container {
  align-items: center;
  margin-bottom: 30px;
}
.head-nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 26px 38px;
}
.head-nav > li {
  padding: 26px 0;
}
.head-nav {
  background: #35444f;
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main-container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
}
.sidebar {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 344px;
  height: 399px;
  margin-right: 52px;
}
.sidebar a {
  padding: 26px 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #485863;
}

.img-container {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 43px 0;
  width: 100%;
}
.img {
  transition: 1s;
  width: 30%;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin: 30px 0;
}

footer {
  background: rgba(99, 105, 110, 0.48);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_nav {
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
}
.footer_nav li {
  border-bottom: 1px solid transparent;
  padding: 0 10px;
}
.footer_nav a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.copy {
  padding-right: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #010101;
}

/* containers */

.footer-container,
.main-container,
.header-container {
  padding-left: 10px;
  padding-right: 10px;
}


/* hovers */

.head-nav a:hover {
  background: #222f3a;
}
.sidebar a:hover {
  background: #dbdbdb;
  color: #35444f;
  padding: 26px 0 26px 80px;
}
.footer_nav li:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #3181a6;
}
.footer_nav li:hover a {
  color: #3181a6;
}
.img:hover {
  transform: scale(1.2);
}
.head-nav.active {
  display: flex;
}

/* media */

@media (max-width: 1150px) {
  .footer-container {
    display: block;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
  }
  .footer_nav {
    margin-left: 0;
  }
  .copy {
    align-self: flex-end;
  }
}
@media (max-width: 1021px) {
  .burger {
  display: flex;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .head-nav {
    display: none;
    flex-direction: column;
    text-align: center;
    align-content: stretch;
  }
  .head-nav li {
    padding: 0;
  }
  .head-nav a {
    border: none;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .footer_nav {
    flex-direction: column;
  }
  .footer_nav li {
    padding: 10px 0;
  }
  .copy {
    text-align: center;
align-self: center;
padding: 20px 0 0 0;
}
@media (max-width: 450px) {

  .header-container a,
  .header-container i {
    font-size: 50px;
  }
}
