@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navbar * {
  justify-content: center;
}
.menu {
  width: 100%;
}
.main-menu {
  list-style-type: none;
}
.nav-menu {
  text-align: center;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}
.menu {
  /* display: inline-block; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-align: center;
  color: #ff0000;
  margin-right: 72px;
}

.menu a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}
.main-img {
  width: 100%;
  /* height: 800px; */
}

.main-head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  color: #373737;
  margin-top: 48px;
  margin-bottom: 38px;
}

.text {
  margin: 67.5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}


.button {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 42.5px;
  background: #ff0000;
  border-radius: 4px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
}

footer {
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
