@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  filter: invert();
}
.container {
  background-color: #fff;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
header a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  color: #000;
}
.header {
  color: aqua;
}
nav {
  position: relative;
}
#theme-btn {
  position: absolute;
  left: 20px;
  top: 30px;
}

.head-nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 26px 38px;
}
.head-nav > li {
  padding: 26px 0;
}
.head-nav {
  background: #35444f;
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px 0;
  /* padding: 6px; */
  flex-wrap: wrap;
}
.main-container {
  display: flex;
  align-content: center;
  justify-content: center;
}
.sidebar {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 344px;
  height: 399px;
  margin-right: 52px;
}
.sidebar a {
  padding: 26px 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #485863;
}

.img-container {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 529px;
}
.img {
  transition: 1s;
  width: 320px;
  height: 381px;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin: 30px 0;
}

footer {
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.footer_nav {
  padding-left: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer_nav a {
  padding: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.copy {
  padding-right: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}

.head-nav a:hover {
  background: #222f3a;
}
.sidebar a:hover {
  background: #dbdbdb;
  color: #35444f;
  padding: 26px 0 26px 80px;
  /* justify-content: center; */
}
.footer_nav a:hover {
  border-bottom: 1px solid #3181a6;
  color: #3181a6;
}
.img:hover {
  transform: scale(1.2);
}
