@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
.wrapper {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 100px;
}
.content-container {
  width: 71%;
  margin: 0 auto;
}
.head-bg {
  padding-top: 55px;
  width: 100%;
  /* height: 50vh; */
  position: relative;
  overflow: hidden;
}
.head-bg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateZ(2px), scale(1);
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
}
.companies-bg {
  width: 100%;
  padding: 148.5px 0 185px 0;
  position: relative;
  overflow: hidden;
}
.companies-bg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateZ(2px), scale(1);
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 0 100%);
}
.testimonials-bg {
  width: 100%;
  padding: 190px 0 143px 0;
  position: relative;
  overflow: hidden;
}
.testimonials-bg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateZ(2px), scale(1);
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}
.bg-white {
  width: 100%;
  background-color: #ffffff;
}
.what {
  padding: 122px 0 90px 0;
  position: relative;
}
/* .what::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -85px;
  border-left: 50vw solid #ffffff;
  border-right: 50vw solid #ffffff;
  border-top: 85px solid transparent; 
} */
/* .what::after {
  margin-top: 90px;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 85px solid #ffffff;
} */
.meet-us {
  padding: 82px 0 128.5px 0;
  position: relative;
}
/* .meet-us::after {
  margin-top: 128.5px;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 85px solid #ffffff;
} */
.why {
  padding: 105px 0 96px 0;
  position: relative;
}
/* .why::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -85px;
  border-left: 50vw solid #ffffff;
  border-right: 50vw solid #ffffff;
  border-top: 85px solid transparent;
} */
.copyright {
  padding-bottom: 88px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  padding: 40px 0 37px 0;
}
.header-title a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #424f57;
}
.header-title a span {
  color: #14afca;
  font-weight: bold;
  text-transform: uppercase;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav li {
  list-style: none;
}
.header-nav li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #3e4c4e;
  list-style: none;
  margin-left: 35px;
}
.header-nav li:first-child a {
  color: #14afca;
}
.main-title {
  font-family: "Roboto";
  font-size: 52px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 149px 0 134px 0;
}
.what_title,
.companies_title,
.meet-us_title,
.testimonials_title,
.why_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  color: #14afca;
}
.what_subtitle,
.meet-us_subtitle,
.why_subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  letter-spacing: 0.899999px;
  text-align: center;
  color: #424f57;
}
.testimonials_subtitle,
.companies_subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #ffffff;
}
.what_text,
.meet-us_people-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #424f57;
}
.testimonials_text {
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #d3cccc;
}
.testimonials_text-autor {
  font-family: "OpenSans";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.45px;
  color: #ffffff;
  text-align: right;
  margin-right: 123px;
  margin-top: 28px;
}
.why_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #424f57;
}
.copyright-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #3d3c3c;
}
.copyright-text span {
  font-weight: bold;
}
.companies_img-top,
.companies_img-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.companies_img-top {
  margin-bottom: 118px;
}
.adobe {
  margin-right: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adobe img:first-child {
  background-color: #ffffff;
  padding: 19px 0 17px 16px;
}
.adobe img:last-child {
  background-color: #ffffff;
  padding: 32px 18px 29px 0;
}
.meet-us_people {
  display: flex;
}
.meet-us_people > li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meet-us_people > li:not(li:last-child) {
  margin-right: 58px;
}
