head,
body {
  margin: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: rgb(220, 207, 18);
}

.wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 18em;
  height: 50em;
  margin-left: -9em;
  overflow: hidden;
  text-align: center;
  font-size: 350%;
  font-weight: bold;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}
.wrapper p {
    text-align: start;
}
.animation {
    
  animation: ani 30s linear infinite;
  position: absolute;
  top: 0;
}
@keyframes ani {
  from {
    top: 100%;
  }
  to {
    top: 50%;
  }
}
